*

!frontend/src/
!frontend/src/**
!frontend/public/
!frontend/public/**
!frontend/package.json
!frontend/pnpm-lock.yaml
!frontend/server.ts
!frontend/tsconfig.json
!frontend/tsconfig.server.json
!frontend/vite.config.ts

frontend/**/*.test.ts
frontend/**/*.test.tsx

!game/src/
!game/src/**
!game/CMakeLists.txt
!game/CMakePresets.json
